      <p style="font-size: 22px;">
        Первый в мире удобный менеджер флеш-карточек. Именно так.
      </p>

<p>
  <strong>Слово:</strong>
  <%= @card.original_text %>
</p>
 
<p>
  <strong>Перевод:</strong>
  <%= @card.translated_text %>
</p>

<p>
  <strong>Дата повторения:</strong>
  <%= @card.review_date %>
</p>
