<h1>Все карточки</h1>

<table>
  <tr>
    <th>Слово</th>
    <th>Перевод</th>
  </tr>
 
  <% @cards.each do |card| %>
    <tr>
      <td><%= link_to card.original_text, card_path(card) %></td>
      <td><%= link_to card.translated_text, card_path(card) %></td>
    </tr>
  <% end %>
</table>
